<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhx.web.logrecord.mapper.LogMapper">
    <!-- 查询APP商户信息 -->
    <!-- 加访问入日志 -->
    <insert id="insertLog" parameterType="java.util.HashMap">
        insert into xshtest.appcard_external_interface_log
        (
        id,
        request_url,
        request_parameter,
        request_time,
        response_parameter,
        response_time,
        server_ip,
        create_date,
        log_type,
        request_plaintext
        )
        values
        (
        xshtest.APPCARD_EXTERNAL_LOG_SEQ.NEXTVAL,
        #{requestUrl},
        #{requestStr},
        to_date(#{requestTime},'yyyy-MM-dd HH24:mi:ss'),
        #{responstStr},
        sysdate,
        #{serverIp},
        sysdate,
        #{logType},
        #{requestPlaintext}
        )
    </insert>

</mapper>